<div class="intro">
  <div class="intro-text">
    <h1 class="hide">
      <span class="text">Jedyne</span>
    </h1>
    <h1 class="hide">
      <span class="text">Co nam pozostaje</span>
    </h1>
    <h1 class="hide">
      <span class="text">To</span>
    </h1>
    <h1 class="hide">
      <span class="text">Wspomnienia</span>
    </h1>
  </div>
</div>
<div class="get-in-touch">
  <span class="business-card">Damian Okoński</span>
  <span class="business-card">Fotografia</span>
  <mat-divider [vertical]="true" style="margin: 30px"></mat-divider>
  <button mat-raised-button color="accent" class="contact-button">
    <a routerLink="/contact" style="text-decoration: none">KONTAKT</a>
  </button>
</div>
<div class="slider"></div>
<img src="assets/images/landing.jpg" alt="hero">
